VITE_LOGIN_API_URL=https://7hlj67lc34.execute-api.us-east-1.amazonaws.com/Production/newlogin
VITE_VIEW_API_URL=https://7hlj67lc34.execute-api.us-east-1.amazonaws.com/Production/getstruct
VITE_CREATE_USER_API_URL=https://7hlj67lc34.execute-api.us-east-1.amazonaws.com/Production/createstandard
VITE_ONBOARDING_API_URL=https://7hlj67lc34.execute-api.us-east-1.amazonaws.com/Production/completeonboarding
VITE_PACKET_API_URL=
